<div class="container">

  <div class="banner">
    <h1>Voici tes listes de films</h1>
  </div>

  <div class="cards-container">
    <%@lists.each do |list|%>
    <div class="card-romano" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1514539079130-25950c84af65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80)">
    <%= link_to list.name, list_path(list) %>
  </div>
    <%end%>
  <div>
  <h3><%= link_to 'Créer une nouvelle liste', new_list_path %></h3>
  </div>
</div>
